* {
   box-sizing: border-box;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

html {
   --lightgrey: rgb(235, 235, 235);
   --blue: #063cc5;
   --dark-blue: #041c4b;
   --logo-blue: #2786fc;
   --blue-grey: #60678b;
}

h1 {
   font-size:3rem;
   line-height: 1;
   margin-bottom: 1rem;
}

h2 {
   font-size: 1.2rem;
   line-height: 1.4;
   margin-bottom: 1rem;
   text-align: center;
}

a {
   text-decoration: none;
   color: #2786fc;
}

p {
   line-height: 1.6;
}

sub {
   font-size: 0.6rem;
}

.blue {
   color: var(--logo-blue);
}

.wrapper {
   max-width: 1000px;
   padding-left: 3rem;
   padding-right: 3rem;
   margin-left: auto;
   margin-right: auto;
}

/* top nav */

.top-nav {
   display: grid;
   grid-auto-flow: column;
   align-items: center;

   height: 50px;
   margin-top: 5px;
   
}

.top-nav .logo {
   display: grid;
   width: 130px;
}

.top-nav ol {
   padding-inline-start: 0;
}

.top-nav .services li {
   display: inline-block;
   padding: 5px 10px;
   font-size: 0.9rem;
}
      .services .chevron {
         width: 10px;
      }

.top-nav .info {
   justify-self: right;
}
      
.top-nav .info li {
   display: inline-block;
   padding: 5px 10px;
   font-size: 0.9rem;
}

   .info .signup {
      color: var(--logo-blue);
      border: solid 1px var(--logo-blue);
      border-radius: 3px;
   }

   .info .signup:hover {
      color: white;
      background-color: var(--logo-blue);
      cursor: pointer;
   }

   .info .signup:active {
      opacity: 70%;
      transform: scale(0.97);
   }

   .top-nav li:hover{
      color: var(--logo-blue);
      cursor: pointer;
   }


/* hero */

.hero-section {
   background-image: url("images/seascape.jpeg");
   background-size: 100%;
   background-position-y: -300px;
}

.hero {
   height: 390px;

   display: grid;
   grid-template-columns: 3fr 2fr;
   grid-gap: 40px;
   align-items: center;
}

.hero .intro {
   color: white;
}

.hero .card {
   height: fit-content;
   background-color: white;
   border: solid 1px rgba(0, 0, 0, 0.1);
   border-radius: 3px;
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
   padding: 20px 15px;

   text-align: center;
}
      .hero label input,
      .hero label button {
         display: block;
         margin-top: 6px;
         padding: 8px;
         width: 100%;
         background-color: white;
         font-size: .7rem;
         border: solid 1px rgba(0, 0, 0, 0.2);
         border-radius: 4px;
      }

      .hero .create-button {
         background-color: var(--logo-blue);
         border: none;
         color: white;
      }

      .hero button:active {
         transform: scale(0.97);
      }



/* partners */

.partners-section {
   background-color: var(--lightgrey);
}

.partners {
   height: 210px;
   display: grid;
   place-items: center;
}

.partners .subtitle {
   text-transform: uppercase;
   font-size: 0.8rem;
   color: var(--blue-grey);
}

.partners .logos {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 150px;

   place-items: center;
}

.partners a {
   font-size: 0.8rem;
}

.partners .logos img {
   width: 130px;
}

/* deploy and scale seamlessly */

.deploy {
   height: 550px;
   display: grid;
   place-items: center;
}

.deploy .deploy-grid {
   display: grid;
   grid-template: 
      "list item1 item2" 1fr
      "list item3 item4" 1fr /
      200px 1fr 1fr;

   grid-gap: 25px;
   width: 90%;
}

.deploy .deploy-text {
   text-align: center;
}

      .deploy .deploy-grid .list{
         grid-area: list;

         list-style: none;
         padding-inline-start: 8px;
         border-left: solid 1px var(--blue-grey);
      }
      .deploy .deploy-grid .item1{
         grid-area: item1;
      }
      .deploy .deploy-grid .item2{
         grid-area: item2;
      }
      .deploy .deploy-grid .item3{
         grid-area: item3;
      }
      .deploy .deploy-grid .item4{
         grid-area: item4;
      }

/* designed for developers */

.developers {
   background-color: var(--lightgrey);
   height: 600px;
}

/* features */

.features {
   height: 350px;
}

/* 12 regions */

.regions {
   background-image: linear-gradient(180deg, #002ec4 0%, #002088 74%);
   height: 320px;
}

/* carousel */

.carousel {
   background-color: var(--lightgrey);
   height: 560px;
}

/* cta */

.cta {
   background-image: linear-gradient(180deg, #002ec4 0%, #002088 74%);
   height: 200px;
}

/* footer */

.footer {
   background-color: var(--dark-blue);
   height: 450px;
}