* {
   box-sizing: border-box;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

html {
   --lightgrey: rgb(235, 235, 235);
   --blue: #063cc5;
   --dark-blue: #041c4b;
   --logo-blue: #2786fc;
   --blue-grey: #60678b;
}

h1 {
   font-size:3rem;
   line-height: 1;
   margin-bottom: 1rem;
}

h2 {
   font-size: 1.6rem;
   line-height: 1.4;
   margin-bottom: 0.6rem;
   text-align: center;
}

h3 {
   font-size: 1.2rem;
   line-height: 1.4;
   margin-bottom: 1rem;
   text-align: center;
}

h4 {
   font-size: 1rem;
   line-height: 1.3;
   margin: 0.5rem 0 0.3rem 0;
}

a {
   text-decoration: none;
   color: #2786fc;
}

p {
   line-height: 1.6;
}

sub {
   font-size: 0.6rem;
}

.blue {
   color: var(--logo-blue);
}

.darkblue {
   color: var(--dark-blue);
}

.white {
   color: white;
}

.wrapper {
   max-width: 900px;
   padding: 3rem;
   margin-left: auto;
   margin-right: auto;
}

body {
   position: relative;
}

/* carousel style */

.carousel {
   width: 600px;
   height: fit-content;
   display: grid;
   grid-template-columns: 50px 1fr 50px;
   place-items: center;
   padding-top: 40px;
   padding-bottom: 10px;
}

.screenshot {
   height: 300px;
   border-radius: 5px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

.carousel .chevron {
   width: 25px;
}

.slide-tracker img{
   width: 6px;
}

.slide-tracker img:hover,
.carousel .chevron:hover {
   opacity: 50%;
}

/* top nav */

.top-nav {
   display: grid;
   grid-auto-flow: column;
   align-items: center;

   max-width: 900px;
   padding-left: 3rem;
   padding-right: 3rem;
   margin-left: auto;
   margin-right: auto;

   height: 50px;
   margin-top: 5px;
   
}

.top-nav .logo {
   display: grid;
   width: 130px;
}

.top-nav ol {
   padding-inline-start: 0;
}

.top-nav .services li {
   display: inline-block;
   padding: 5px 10px;
   font-size: 0.9rem;
}
      .services .chevron {
         width: 10px;
      }

.top-nav .info {
   justify-self: right;
}
      
.top-nav .info li {
   display: inline-block;
   padding: 5px 10px;
   font-size: 0.9rem;
}

   .info .signup {
      color: var(--logo-blue);
      border: solid 1px var(--logo-blue);
      border-radius: 3px;
   }

   .info .signup:hover {
      color: white;
      background-color: var(--logo-blue);
      cursor: pointer;
   }

   .info .signup:active {
      opacity: 70%;
      transform: scale(0.97);
   }

   .top-nav li:hover{
      color: var(--logo-blue);
      cursor: pointer;
   }

.top-nav .hamburger {
justify-self: right;
}

.top-nav .hamburger img {
   height: 15px;
}

/* hero */

.hero-section {
   background-image: url("images/seascape.jpeg");
   background-size: 100%;
}

.hero {
   height: fit-content;
   padding-top: 40px;
   padding-bottom: 40px;

   display: grid;
   grid-template-columns: 3fr 2fr;
   grid-gap: 40px;
   align-items: center;
}

.hero .intro {
   color: white;
}

.hero .card {
   height: fit-content;
   background-color: white;
   border: solid 1px rgba(0, 0, 0, 0.1);
   border-radius: 3px;
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
   padding: 20px 15px;

   text-align: center;
}
      .hero input,
      .hero button {
         display: block;
         margin-top: 6px;
         padding: 8px;
         width: 100%;
         background-color: white;
         font-size: .7rem;
         border: solid 1px rgba(0, 0, 0, 0.1);
         border-radius: 4px;
         outline: none;

      }

      .hero .create-button {
         background-color: var(--logo-blue);
         border: none;
         color: white;
      }

      .hero button:active {
         transform: scale(0.97);
         outline: none;

      }

.hero .google-button {
   display: grid;
   grid-template-columns: 30px 1fr 30px;
   align-items: center;
}

.hero .google-logo {
   width: 15px;
}

/* partners */

.partners-section {
   background-color: var(--lightgrey);
}

.partners {
   height: fit-content;
   display: grid;
   place-items: center;
   grid-gap: 30px;
}

.partners .subtitle {
   text-transform: uppercase;
   font-size: 0.8rem;
   color: var(--blue-grey);
}

.partners .logos {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: minmax(90px,150px);
   grid-gap: 15px;

   place-items: center;
}

.partners a {
   font-size: 0.8rem;
}

.partners .logos img {
   width: 120px;
}

/* deploy and scale seamlessly */

.deploy {
   height: fit-content;

   display: grid;
   place-items: center;
   
}

.deploy .deploy-grid {
   display: grid;
   grid-template: 
      "list item1 item2" 1fr
      "list item3 item4" 1fr /
      200px 1fr 1fr;

   grid-gap: 18px;
   width: 90%;
   margin-top: 50px;
}

.deploy .deploy-text {
   text-align: center;
}

      .deploy .deploy-grid .list{
         grid-area: list;
         list-style: none;
         padding-inline-start: 0px;

         display: grid;
         align-items: center;
         height: fit-content;
      }

      .deploy li {
         padding-top: 12px;
         padding-bottom: 12px;
         padding-inline-start: 8px;
         border-left: solid 3px var(--lightgrey);
      }

      .deploy .deploy-grid p {
         font-size: 0.8rem;
      }

      .deploy .deploy-grid .item1{
         grid-area: item1;
      }
      .deploy .deploy-grid .item2{
         grid-area: item2;
      }
      .deploy .deploy-grid .item3{
         grid-area: item3;
      }
      .deploy .deploy-grid .item4{
         grid-area: item4;
      }

/* designed for developers */

.developers-section {
   background-color: var(--lightgrey);
}

.developers {
   height: fit-content;

   display: grid;
   place-items: center;
}

.developers p {
   text-align: center;
}

/* features */

.features {
   height: fit-content;
}

.features .columns {
   display: grid;
   grid-auto-flow: column;
   grid-gap: 35px;
   padding-top: 20px;
}

.features .columns p,
.features .columns a {
   font-size: 0.8rem;
   margin: 10px 0;
}


/* 12 regions */

.regions-section {
   background-image: linear-gradient(180deg, #002ec4 0%, #002088 74%);
}

.regions {
   height: fit-content;
   }

.regions .two-column  {
   display: grid;
   /* grid-template-columns: 1fr 1fr; */
   grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
   grid-gap: 20px;
   justify-content: center;
}

.regions .two-column ol{
   list-style-type: none;
   padding-inline-start: 0;
}

.regions .two-column  li{
   color: white;
   font-size: 0.6rem;
   padding: 8px 8px;

   border-bottom: solid 0.5px white;

   display: grid;
   grid-template-columns: 1fr 5fr 2fr;
   align-items: center;
}

/* carousel */

.love-section {
   background-color: var(--lightgrey);
}
.love {
   height: fit-content;

   display: grid;
   place-items: center;
}


/* cta */

.cta-section {
   background-image: linear-gradient(180deg, #002ec4 0%, #002088 74%);
}

.cta {
   height: fit-content;
   display: grid;
   place-items: center;
}

.cta button {
   color: var(--logo-blue);
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   margin-top: 5px;
   background-color: white;
}

.cta button:hover {
   color: var(--dark-blue);
}

.cta button:active {
   transform: scale(0.95);
   outline: none;
}

.cta button:focus {
   outline: none;
}

/* sticky */

.sticky-help-section {
   display: grid;
   grid-auto-flow: column;
   grid-gap: 10px;
   align-items: flex-end;

   position: fixed;
   bottom: 20px;
   right: 20px;
}

.sticky-help-section .bubble {
   background-color: white;
   border: none;
   border-radius: 10px 10px 0px 10px;
   padding: 8px 12px;
   width: 280px;
   height: 50px;
   font-size: 0.8rem;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

}

.sticky-help-section .shark {
   height: 50px;
   border-radius: 5px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

   transition: 100ms;
}

.sticky-help-section .shark:hover {
   transform: rotate(10deg);
   cursor: pointer;
}

.sticky-help-section .shark:active {
   transform: scale(0.95);
   cursor: pointer;
}


/* footer */

.footer-section {
   background-color: var(--dark-blue);
}

.footer {
   color: white;
   height: fit-content;
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
   grid-gap: 10px;
}

.footer ul{
   list-style: none;
   padding-inline-start: 0;
}

.footer li,
.footer p {
   font-size: 0.7rem;
   margin-top: 5px;
}

.footer p,
.footer .socials svg {
   opacity: 50%;
}

.footer li p:hover,
.footer .socials svg:hover {
   opacity: 100%;
}

.footer .socials svg {
   width: 20px;
   padding-right: 4px;
}

@media only screen and (max-width: 900px) {
   .top-nav .services,
   .top-nav .info {
      display: none;
   }
   .top-nav .hamburger {
      display: block;
   }

   .partners .logos {

   }
   .partners .logos img {
      width: 90px;
   }
}

@media only screen and (min-width: 901px) {
   .top-nav .hamburger {
      display: none;
   }
}